<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertia" params="m r h dir">
    <inertial>
      <xacro:if value="${dir == 'z'}">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:if>
      <xacro:if value="${dir == 'x'}">
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      </xacro:if>
      <xacro:if value="${dir == 'y'}">
        <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
      </xacro:if>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy = "0" ixz = "0" iyy="${(m/12) * (3*r*r + h*h)}" iyz = "0" izz="${(m/2) * (r*r)}"/>
    </inertial>
  </xacro:macro>
  
</robot>