<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="traquad_ign_hw" params="gazebo yaml">
        
        
        
        
        
        <gazebo reference="base_link">
            <material>Gazebo/White</material>
        </gazebo>


        <ros2_control name="IgnitionSystem" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <!-- <joint name="LH_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg hind_haa)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint> -->
            <joint name="LH_HFE">
                <command_interface name="effort" />
                
                <state_interface name="position">
                    <param name="initial_value">$(arg LH_HFE)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint><!-- <joint name="LF_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg front_haa)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint> -->
            <joint name="LF_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg LF_HFE)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint><!-- <joint name="RH_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg hind_haa)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint> -->
            <joint name="RH_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg RH_HFE)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint><!-- <joint name="RF_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg front_haa)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint> -->
            <joint name="RF_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">$(arg RF_HFE)</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>

            <!-- qui potete inserire i rullini chiamateli come volete -->
            <joint name="joint_wheel_1_LEFT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_2_LEFT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_3_LEFT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_4_LEFT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_1_LEFT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_2_LEFT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_3_LEFT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_4_LEFT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_1_RIGHT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_2_RIGHT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_3_RIGHT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_4_RIGHT_F">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_1_RIGHT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_2_RIGHT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_3_RIGHT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="joint_wheel_4_RIGHT_H">
                <command_interface name="velocity" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            
            </ros2_control>

        <gazebo>
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find mulinex_ignition)/config/mulinex_mf.yaml</parameters>
            </plugin>
        </gazebo>

    </xacro:macro>
</robot>